<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to TextUtls Website - Manisha</title>
</head>
<body>
<h1>Welcome To The Text Analyzer - TextUtils</h1>

<form action="/analyze" method="get">
    <textarea name="text" id="text" cols="30" rows="10" spellcheck="false"
              style="width: 1340px; height: 204px;"></textarea><br>
    <input type="checkbox" name="removepunc" id="removepunc"> Remove Punctuations
    <input type="checkbox" name="uppercase" id="uppercase"> UPPERCASE
    <input type="checkbox" name="newlineremover" id="newlineremover"> New Line Remover
    <input type="checkbox" name="lowercase" id="lowercase"> lowercase
    <input type="checkbox" name="spaceremover" id="spaceremover"> SpaceRemover
    <input type="checkbox" name="charactercounter" id="charactercounter"> Character Counter (no spaces)
    <input type="checkbox" name="charactercounterwithspaces" id="charactercounterwithspaces"> Character Counter (With
    Spaces)
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

</body>
</html>